.body-socialmedia{
    height: 70vh;
    margin: 4vmin;
    border: 3px solid grey;
    border-radius: 2rem;
    margin-top: 7vh;
    overflow: hidden;
}
.heading-socialmedia{
    color: white;
    margin: 10px;
    margin-left: 20px;
    font-size: larger;
    
   
}
p.contact-me{
    color: white;
    border: 1px solid white;
    padding: 20px;
    border-radius: 1rem;
}
.contact{
    display: flex;
 justify-content: center;
   /* width: 100vw; */
      
}